*
    margin 0px
    padding 0px

body
    background-color rgba(0,102,204, 1)

.header
    width 100%
    height 35px
    top 53px
    text-align center
    font 25px arial
    color rgba(51,153,255, .6)
    position absolute

#c
    background #004C99
    display block

#c2
    background #0080FF
    display block

.back
    width 20%
    height 35px
    position absolute
    left 50%
    top 50px
    margin-left -10%
    margin-right auto
    background-color rgba(0,25,51, .5)
    border-radius 10px
    border 1px solid rgba(0,25,51, .1)

.menu-outer
    overflow hidden
    position fixed
    top 0
    font-family 'Montserrat', serif
    z-index 998
    width 15%
    left 100%
    margin-left -100px
    height 200%
    background rgba(100,200,240,.9)
    -webkit-transition all ease .5s
    -moz-transition all ease .5s
    -ms-transition all ease .5s
    -o-transition all ease .5s
    transition all ease .5s
    -webkit-transform-origin top left
    -moz-transform-origin top left
    -ms-transform-origin top left
    -o-transform-origin top left
    transform-origin top left
    -webkit-transform rotate(-45deg)
    -moz-transform rotate(-45deg)
    -ms-transform rotate(-45deg)
    -o-transform rotate(-45deg)
    transform rotate(-45deg)
    &:hover
        background rgba(100,200,240,.98)
        left 85%
        margin-left 0
        -webkit-transform rotate(0deg)
        -moz-transform rotate(0deg)
        -ms-transform rotate(0deg)
        -o-transform rotate(0deg)
        transform rotate(0deg)
        .bar
            background rgba(100,200,240,.9)
        & > .menu-icon
            opacity 0
        & > nav
            ul
                left 0
    & > nav
        ul
            top 15%

.menu-icon
    z-index 999
    position absolute
    top 58px
    left 15px
    width 30px
    pointer-events none
    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -ms-transform rotate(45deg)
    -o-transform rotate(45deg)
    transform rotate(45deg)
    -webkit-transition all ease .5s
    -moz-transition all ease .5s
    -ms-transition all ease .5s
    -o-transition all ease .5s
    transition all ease .5s
    .bar
        background rgba(250,250,250,1)
        width 100%
        height 5px
        margin 0 0 5px
        -webkit-transition all ease .5s
        -moz-transition all ease .5s
        -ms-transition all ease .5s
        -o-transition all ease .5s
        transition all ease .5s

nav
    ul
        position absolute
        width 100%
        padding 0
        left 10%
        -webkit-transition all ease .5s
        -moz-transition all ease .5s
        -ms-transition all ease .5s
        -o-transition all ease .5s
        transition all ease .5s
    li
        list-style none
        text-align center
        text-transform uppercase
        a
            font-size 1.2em
            color rgba(255,255,255,.8)
            text-decoration none
            margin 0 auto
            padding 20px
            display block
            -webkit-transition all ease .5s
            -moz-transition all ease .5s
            -ms-transition all ease .5s
            -o-transition all ease .5s
            transition all ease .5s
            &:hover
                color rgba(255,255,255,1)

@media screen and (max-width: 600px), screen and (max-height: 600px)
    nav
        ul
            font-size .75em
            a
                padding 10px

.pro-bar
    background transparent
    width 200px
    height 200px
    position absolute
    top 50%
    left 50%
    margin-top -180px
    margin-left -150px
    border-radius 50%
    border 60px solid #fff
    animation logo 3s
    animation logo 3s
    &::before
        background #fff
        width 150px
        height 150px
        content ""
        position absolute
        top 25px
        right 25px
        border-radius 50%
    &::after
        text-align center
        width 150px
        height 150px
        content "50%"
        position absolute
        top 65px
        right 25px
        font-size 50px
        align-content center

@keyframes
    logo
        0% {
    transform scale(10) rotate(0deg) translateY(-80px)
        -ms-transform scale(10) rotate(0deg) translateY(-80px)
        -webkit-transform scale(10) rotate(0deg) translateY(-80px)
        -webkit-filter blur(30px)
        -moz-filter blur(30px)
        -o-filter blur(30px)
        -ms-filter blur(30px)
        filter blur(30px)

40%
    transform scale(1) rotate(0deg)
    -ms-transform scale(1) rotate(0deg)
    -webkit-transform scale(1) rotate(0deg)
    -webkit-filter none
    -moz-filter none
    -o-filter none
    -ms-filter none
    filter none
    transform scale(1) rotate(0deg)
    -ms-transform scale(1) rotate(0deg)
    -webkit-transform scale(1) rotate(0deg)
    -webkit-filter none
    -moz-filter none
    -o-filter none
    -ms-filter none
    filter none

50%
    transform scale(1) rotate(0deg)
    -ms-transform scale(1) rotate(0deg)
    -webkit-tranform scale(1) rotate(0deg)
    transform scale(1) rotate(0deg)
    -ms-transform scale(1) rotate(0deg)
    -webkit-tranform scale(1) rotate(0deg)

60%
    transform scale(1) rotate(0deg)
    -ms-transform scale(1) rotate(0deg)
    -webkit-tranform scale(1) rotate(0deg)
    transform scale(1) rotate(30deg)
    -ms-transform scale(1) rotate(30deg)
    -webkit-tranform scale(1) rotate(30deg)

70%
    transform scale(1) rotate(0deg)
    -ms-transform scale(1) rotate(0deg)
    -webkit-transform scale(1) rotate(0deg)
    transform scale(1) rotate(0deg)
    -ms-transform scale(1) rotate(0deg)
    -webkit-transform scale(1) rotate(0deg)

}
    @-webkit-keyframes
        logo
            0% {
    transform scale(10) rotate(0deg) translateY(-80px)
            -ms-transform scale(10) rotate(0deg) translateY(-80px)
            -webkit-transform scale(10) rotate(0deg) translateY(-80px)
            -webkit-filter blur(30px)
            -moz-filter blur(30px)
            -o-filter blur(30px)
            -ms-filter blur(30px)
            filter blur(30px)