doctype html
html
	head
		title SARCI
		meta(charset="utf-8")
		link(href="style.css" rel="stylesheet" type="text/css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")
		script(type="text/javascript" src="js.js")
		script(src="http://code.highcharts.com/highcharts.js")
		script(src="../../code/modules/exporting.js")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	body
		- var foo = "eric el pez"
			if foo == "lluvia"
				canvas(id="c")
				script(type="text/javascript") lluvia()
			if foo == "lluvias"
				canvas(id="c2")
				script(type="text/javascript") soleado()
		.menu-outer
					.menu-icon
						.barr
						.barr
						.barr
					nav
						ul
							li
								a(href="#secc1") Probabilidad de lluvia
							li
								a(href="#secc2") Graficas de comportamiento
							li
								a(href="#secc3") Predicciones
		.contenedor
			div(class="seccion" id="secc1")
				.header Probabilidad de Lluvia
				div(id="sellPerCirc" class="perCirc")
					.perCircInner
						canvas(id="c")
						script(type="text/javascript") lluvia()
						div(class="perCircStat") 0%
			div(class="seccion" id="secc2")
				div(class="header gr") Graficas
				.graph-cont
					div(class="graph 1")
					div(class="graph 2")
					div(class="graph 3")
					div(class="graph 4")
			div(class="seccion" id="secc3")
				div(class="header lg") Probabilidades
				.graph-cont
					.graph-prob
						div(id="container" style="width: 100%; height: 99.5%; margin: 0 auto")
					.log